.agent-body{
    .agent-options{
        margin-right: -30px;
        margin-left: -30px;
        margin-top: 53px;
        margin-bottom: 53px;
        display: flex;
        @media screen and (max-width: $max-width){
            margin-right: -2.66vw;
            margin-left: -2.66vw;
            margin-top: 4.71vw;
            margin-bottom: 4.71vw;
        } 
        .agent-option{
            border-radius: 15px;
            padding: 0 10px;
            max-width: 50%;
            filter: drop-shadow(0px 5px 23px rgba(0,0,0,0.08));
            background-color: #ffffff;
            display: flex;
            align-items: center;
            padding: 40px;
            font-size: 45px;
            width: 50%;
            margin: 0 30px;
            cursor: pointer;
            @media screen and (max-width: $max-width){
                border-radius: 1.33vw;
                filter: drop-shadow(0px 0.44vw 2.04vw rgba(0,0,0,0.08));
                padding: 0 0.88vw;
                padding: 3.55vw;
                font-size: 4vw;
                margin: 0 2.66vw;
            }
            &.active{
                filter: none;
                background-color: $blue;
                color: #fff;
            }
            .img-block{
                width: 112px;
                margin-right: 10px;
                text-align: center;
                @media screen and (max-width: $max-width){
                    width: 10vw;
                    margin-right: 0.88vw;
                } 
            }
            img{
                max-width: 95px;
                @media screen and (max-width: $max-width){
                    max-width: 8.44vw;
                } 
            }
        }
    }
}
.phases{
    margin: 45px 0;
    @media screen and (max-width: $max-width){
        margin: 4vw 0;
    }
    .phase{
        border-radius: 20px;
        margin: 20px 0;
        @media screen and (max-width: $max-width){
            border-radius: 1.77vw;
            margin: 1.77vw 0;
        } 
        .phase-title{
            padding: 40px;
            background-color: #eaf3ff;
            position: relative;
            display: flex;
            justify-content: space-between;
            border-radius: 20px;
            @media screen and (max-width: $max-width){
                padding: 3.55vw;
                border-radius: 1.77vw;
            } 
            .text{
                font-weight: bold;
            }
            .number{
                width: 80px;
                height: 80px;
                border-radius: 40px;
                color: $blue;
                font-size: 40px;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                @media screen and (max-width: $max-width){
                    width: 7.11vw;
                    height: 7.11vw;
                    border-radius: 3.55vw;
                    font-size: 3.55vw;
                } 
            }
        }
        .phase-body{
            padding: 58px 14px 37px;
            filter: drop-shadow(0px 40px 23px rgba(0,0,0,0.05));
            background-color: #ffffff;
            border-radius: 30px;
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: $max-width){
                padding: 5.15vw 1.24vw 3.28vw;
                filter: drop-shadow(0px 3.55vw 2.04vw rgba(0,0,0,0.05));
                border-radius: 2.66vw;
            }
            .item{
                display: flex;
                align-items: center;
                .image-block{
                    width: 102px;
                    height: 102px;
                    background-color: #f2f4f5;
                    border-radius: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media screen and (max-width: $max-width){
                        width: 9.06vw;
                        height: 9.06vw;
                        border-radius: 2.22vw;
                    }
                    img{
                        max-width: 55px;
                        @media screen and (max-width: $max-width){
                            max-width: 4.88vw;
                        }
                    }
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    padding-left: 23px;
                    @media screen and (max-width: $max-width){
                        padding-left: 2.04vw;
                    }
                    .name{
                        font-size: 35px;
                        @media screen and (max-width: $max-width){
                            font-size: 3.11vw;
                        }
                    }
                    .number{
                        font-size: 50px;
                        font-weight: bold;
                        @media screen and (max-width: $max-width){
                            font-size: 4.44vw;
                        }
                    }
                }
            }
        }
    }
}

.agent-button-block{
    padding-top: 100px;
    padding-bottom: 100px;
    @media screen and (max-width: $max-width){
        padding-top: 8.88vw;
        padding-bottom: 8.88vw;
    }
    .select-block{
        padding: 35px 0 90px;
        @media screen and (max-width: $max-width){
            padding: 3.11vw 0 8vw;
        }
    }
}

.agent-top-block{
    padding-top: 100px;
    padding-bottom: 65px;
    @media screen and (max-width: $max-width){
        padding-top: 8.88vw;
        padding-bottom: 5.77vw;
    }
    .select-block{
        padding: 35px 0 90px;
        @media screen and (max-width: $max-width){
            padding: 3.11vw 0 8vw;
        }
    }
}

.agent-surveryor-item{
    cursor: pointer;
}

.agent-availible-house-items{
    .items{
        .item{
            border-radius: 30px;
            margin: 25px 0;
            filter: drop-shadow(0px 40px 23px rgba(0,0,0,0.05));
            background-color: #ffffff;
            @media screen and (max-width: $max-width){
                margin: 2.22vw 0;
                border-radius: 2.66vw;
                filter: drop-shadow(0px 3.55vw 2.04 rgba(0,0,0,0.05));
            }
            .img-block{
                width: 100%;
                border-radius: 30px;
                @media screen and (max-width: $max-width){
                    border-radius: 2.66vw;
                }
                img{
                    width: 100%;
                }
            }
            .annotation{
                position: relative;
                padding: 35px 30px;
                @media screen and (max-width: $max-width){
                    padding: 3.11vw 2.66vw;
                }
                .name{
                    font-size: 50px;
                    padding-bottom: 37px;
                    @media screen and (max-width: $max-width){
                        font-size: 4.44vw;
                        padding-bottom: 3.28vw;
                    }
                }
                .parameters{
                    display: flex;
                    .parameter{
                        font-size: 40px;
                        padding-right: 80px;
                        display: flex;
                        align-items: center;
                        @media screen and (max-width: $max-width){
                            font-size: 3.55vw;
                            padding-right: 7.11vw;
                        }
                        img{
                            max-height: 50px;
                            margin-right: 20px;
                            @media screen and (max-width: $max-width){
                                max-height: 4.44vw;
                                margin-right: 1.77vw;
                            }
                        }
                    }
                }
                .detail{
                    cursor: pointer;
                    position: absolute;
                    top: 30px;
                    right: 35px;
                    background-color: #e0edff;
                    border-radius: 25px;
                    padding: 25px 45px;
                    @media screen and (max-width: $max-width){
                        top: 2.66vw;
                        right: 3.11vw;
                        border-radius: 2.22vw;
                        padding: 2.22vw 4vw;
                    }
                }
            }
        }
    }
}

.phase-modal{
    .phase-modal-body{
        width: 750px;
        border-radius: 50px;
        background-color: #ffffff;
        padding: 0;
        height: fit-content;
        @media screen and (max-width: $max-width){
            width: 66.66vw;
            border-radius: 4.44vw;
        }
        .phase-item{
            padding: 75px 80px;
            border-bottom: 2px solid #edf0f2;
            font-size: 50px;
            font-weight: bold;
            cursor: pointer;
            @media screen and (max-width: $max-width){
                padding: 6.66vw 7.11vw;
                font-size: 4.44vw;
            }
            &:last-child{
                border-bottom: 0;
            }
        }
    }
}