/*
    DEFAULT
*/

body{
    padding: 0;
    margin: 0;
    background-color: #fdfdfd;
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

section{
    padding: 0 55px;
    width: 100%;
    max-width: 1125px;
    margin: 0 auto;
    background-color: #fdfdfd;
    box-sizing: border-box;
}

.title{
    font-size: 60px;
    color: #000000;
    font-weight: bold;
    padding: 10px 0 20px;
}

*{
    outline: none;
}

img{
    max-width: 100%;
}

/*
    HEADER
*/

.header{
    background-color: #2f89fc;
    padding-top: 170px;
    width: 100%;
}

.header .menu{
    display: flex;
    align-items: center;
}

.header .menu .menu-button{
    cursor: pointer;
}

.header .menu .header-title{
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    padding-left: 45px;
    font-weight: bold;
}

.header .search{
    margin-top: 65px;
    display: block;
    position: relative;
    width: 100%;
} 

.header .search img{
    position: absolute;
    left: 62px;
    top: 55px;
    z-index: 1;
    cursor: pointer;
}

.header .search input{
    height: 150px;
    width: 100%;
    padding: 50px 50px 50px 145px;
    border: 0;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: -65px;
    font-size: 40px;
    filter: drop-shadow(0 0 34.5px rgba(0,0,0,0.08));
}
::placeholder{
    font-size: 40px;
    color: #737b80;
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
}

/*
    SLIDER
*/

.slider{
    padding-top: 175px;
    padding-bottom: 50px;
}

.slick-slide{
    height: 100%;
}
.slide{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slide .slide-text{
    font-size: 60px;
    text-transform: uppercase;
}

/*
    CATEGORY
*/

.categories{

}

.categories .categories-header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.categories .categories-header .categories-title{
}

.categories .categories-header .categories-view-all{
    font-size: 40px;
    color: #ff9878;
    font-weight: 500;
    cursor: pointer;
}

.categories .categories-inner{
    overflow-x: visible;
}

.categories .categories-block{
    min-width: 430px;
    padding: 45px 30px 45px 0;
    display: flex;
    flex-direction: column;
}

.categories .categories-block .category-item{
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    cursor: pointer;
}

.categories .categories-block img{
    width: 100%;
    height: 100%;
}

.categories .categories-block .shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 45px;
}

#slider-category .slick-list{
overflow: visible;
}
/*
    POPULAR
*/

.popular{
    padding-bottom: 100px;
}

.popular .popular-block{
    /*display: flex;
    flex-direction: row;*/
}

.popular .popular-item{
    width: 650px;
    border-radius: 30px;
    filter: drop-shadow(0px 3px 23px rgba(0,0,0,0.08));
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    margin-right: 30px;
    margin-top: 20px;
}

.popular .top-part{
    border-radius: 30px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.popular .top-part img{
    width: 100%;
}

.popular .top-part .popular-item-category{
    font-size: 30px;
    font-weight: bold;

    position: absolute;
    color: #fff;
    background: rgba(255,255,255,0.4);
    padding: 23px;
    border-radius: 10px;
    left: 30px;
    bottom: 32px;
}

.popular .top-part .popular-item-distance{
    font-size: 30px;
    font-weight: bold;

    position: absolute;
    color: #fff;
    background: rgba(255,255,255,0.2);
    padding: 23px;
    border-radius: 10px;
    right: 30px;
    bottom: 32px;
}

.popular .bottom-part{
    padding: 20px 30px 40px;
}

.popular .popular-item-title{
    font-size: 50px;
    color: #292929;
    font-weight: bold;
}

.popular .popular-item-location{
    font-size: 32px;
    color: #292929;
    font-weight: 500;
    opacity: 0.8;
    margin-top: 10px;
}


.popular .popular-item-location img{
    margin-bottom: -5px;
    display: initial;
}

.popular .popular-item-phone{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    filter: drop-shadow(0px 20px 23px rgba(189,233,180,0.7));
    background-color: #84cb76;
    position: absolute;
    right: 30px;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.popular .slick-list{
    overflow: visible;
}